<% unless session[:tires].nil? -%>
  <%= form_tag products_path, :method => :get do -%>
    <div id="tiresSettings">
      <% if tires.blank? -%>
        <%= select_tag :tire_width_id, options_for_select([[t(:width), '']] +
                                  Spree::TireWidth.all.map {|t| [t.name, t.id]},
                                @width ? @width.id : params[:tire_width_id]) %>
        <%= select_tag :tire_profile_id, options_for_select([[t(:profile), '']] +
                                  Spree::TireProfile.all.map {|t| [t.name, t.id]},
                                @profile ? @profile.id : params[:tire_profile_id]) %>
        <%= select_tag :tire_innertube_id, options_for_select([[t(:innertube), '']] +
                                    Spree::TireInnertube.all.map {|t| [t.name, t.id]},
                                  @innertube ? @innertube.id : params[:tire_innertube_id]) %>
        <%= select_tag :tire_ic_id, options_for_select([[t(:ic), '']] +
                                  Spree::TireIc.all.map {|t| [t.name, t.id]},
                                @ic ? @ic.id : params[:tire_ic_id]) %>
        <%= select_tag :tire_speed_code_id, options_for_select([[t(:speed_code), '']] +
                                  Spree::TireSpeedCode.all.map {|t| [t.name, t.id]},
                                @speed ? @speed.id : params[:tire_speed_code_id]) %>
        <%= select_tag :tire_fr_id, options_for_select([[t(:fr), '']] +
                                  Spree::TireFr.all.map {|t| [t.name, t.id]},
                                @fr ? @fr.id : params[:tire_fr_id]) %>
        <%= select_tag :tire_tttl_id, options_for_select([[t(:tttl), '']] +
                                    Spree::TireTttl.all.map {|t| [t.name, t.id]},
                                  @tttl ? @tttl.id : params[:tire_tttl_id]) %>
      <% else -%>
        <%= select_tag :tire_width_id, options_for_select([[t(:width), '']] +
                                  Spree::TireWidth.find[tires[0]].map {|t| [t.name, t.id]},
                                @width ? @width.id : params[:tire_width_id]) %>
        <%= select_tag :tire_profile_id, options_for_select([[t(:profile), '']] +
                                  Spree::TireProfile.find[tires[1]].map {|t| [t.name, t.id]},
                                @profile ? @profile.id : params[:tire_profile_id]) %>
        <%= select_tag :tire_innertube_id, options_for_select([[t(:innertube), '']] +
                                    Spree::TireInnertube.find[tires[2]].map {|t| [t.name, t.id]},
                                  @innertube ? @innertube.id : params[:tire_innertube_id]) %>
        <%= select_tag :tire_ic_id, options_for_select([[t(:ic), '']] +
                                  Spree::TireIc.find[tires[3]].map {|t| [t.name, t.id]},
                                @ic ? @ic.id : params[:tire_ic_id]) %>
        <%= select_tag :tire_speed_code_id, options_for_select([[t(:speed_code), '']] +
                                  Spree::TireSpeedCode.find[tires[4]].map {|t| [t.name, t.id]},
                                @speed ? @speed.id : params[:tire_speed_code_id]) %>
        <%= select_tag :tire_fr_id, options_for_select([[t(:fr), '']] +
                                  Spree::TireFr.find[tires[5]].map {|t| [t.name, t.id]},
                                @fr ? @fr.id : params[:tire_fr_id]) %>
        <%= select_tag :tire_tttl_id, options_for_select([[t(:tttl), '']] +
                                    Spree::TireTttl.find[tires[6]].map {|t| [t.name, t.id]},
                                  @tttl ? @tttl.id : params[:tire_tttl_id]) %>
      <% end -%> 
    </div>
    <%= submit_tag t(:search), :name => nil %>
  <% end -%>
<% end -%>

